.hexagon {
	width: 100px;
	height: 55px;
	background: red;
	position: relative;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid red;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid red;
}

.diamond {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: red;
	position: relative;
	top: -4.5em;
}
.diamond:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: red;
}
.octagon {
  position: relative;
  top: -1.25em;
	width: 100px;
	height: 100px;
	background: red;
	position: relative;
}

.octagon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 29px solid red;
	border-left: 29px solid white;
	border-right: 29px solid white;
	width: 42px;
	height: 0;
}

.octagon:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 29px solid red;
	border-left: 29px solid white;
	border-right: 29px solid white;
	width: 42px;
	height: 0;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 78px solid black;
  z-index: 10;
  position: absolute;
  opacity: 0.15;
}

.triangle-up {
  position: absolute;
  top: -1.5em;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

.square{
  height: 100px;
  width: 100px;
  background-color: red;
  position: relative;
  top: -1.25em;
}
